.smallerbtn {
    font-size: 0.9rem !important;
}

.dropdown-menu {
    font-size: 0.9rem !important;
}

.btn-secondary {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.fa-check {
    margin-right: 1rem;
}

/* ---------------------------------------------------- */
/* Main layout */
/* ---------------------------------------------------- */
.grid-container {
    display: grid;
    margin-top: 56px;
    grid-template-rows: 0.6fr 0.2fr 0.2fr;
    grid-template-columns: 1fr;
}

.workspace {
    grid-row-start: 1;
    grid-row-end: 1;

    resize: vertical;
    overflow:scroll;
    height:500px;
/*    min-height:200px; */
}

#cellview {
    grid-row-start: 2;
    grid-row-end: 2;

    height:250px;
    overflow: scroll;
    resize: vertical;
    /* display:none; */
}

#logview {
    grid-row-start: 3;
    grid-row-end: 3;

    height:250px;
    overflow: scroll;
    resize: vertical;
    /* display:none; */
}

/* ---------------------------------------------------- */
/* Network view */
/* ---------------------------------------------------- */
.node {
    fill:#eee;
    stroke:black;
    stroke-width:1;
}

.node_selected {
    stroke-width:2;
}

.node_label {
    font-weight:500;
}

.pdr_label {
    font-size: 0.9rem;
    background-color:#fff;
}


/* ---------------------------------------------------- */
/* Cell table */
/* ---------------------------------------------------- */

.cell-table {
    table-layout: fixed;
    cursor: crosshair;
}

.cell-table td {
    overflow: hidden;
    width: 25px;
    user-select: none;

    padding: 0rem;
    border-top: none;
    border-bottom: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;

    text-align:center;
    vertical-align:middle;
}

.cell-table tr:nth-child(1) {
    height: 4rem;
}

/* first and last columns are the node IDs */
.cell-table td:nth-child(1) {
    width: 100px;
    padding-right: 6px;
    text-align: right;
    font-weight: bold;
}

.cell-table td:nth-last-of-type(1) {
    width: 100px;
    padding-left: 6px;
    text-align: left;
    font-weight: bold;
}

.sch_time {
    font-weight: bold;
    font-size: 0.8rem;
    overflow: visible !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    transform: translate(-1.44rem) rotate(-90deg) ;
    text-align: left !important;
    vertical-align: bottom !important;
}

.sch:hover {
    background-color: grey;
}

.sch_tx {
    background-color:#6680FF;
}

.sch_notx {
    background-color:#3133ff;
}

.sch_rx {
    background-color:#0d0;
}

.sch_badrx {
    background-color:#f00;
}

.sch_norx {
    background-color:#329262;
}

.sch_both {
    background-color:#8B0707;
}

.sch_ch0 {  background-color:#FF9900; }
.sch_ch1 {  background-color:#8d8; }
.sch_ch2 {  background-color:#d2f91f; }
.sch_ch3 {  background-color:#5574A6; }
.sch_ch4 {  background-color:#E67300; }
.sch_ch5 {  background-color:#3B3EAC; }
.sch_ch6 {  background-color:#0099C6; }
.sch_ch7 {  background-color:#DD4477; }
.sch_ch8 {  background-color:#668800; }
.sch_ch9 {  background-color:#B82E2E; }
.sch_ch10 {  background-color:#88f; }
.sch_ch11 {  background-color:#997799; }
.sch_ch12 {  background-color:#22AA99; }
.sch_ch13 {  background-color:#AAAA11; }
.sch_ch14 {  background-color:#6633CC; }
.sch_ch15 {  background-color:#990099; }

.sch_sf0 {  background-color:#B82E2E; }
.sch_sf1 {  background-color:#5574A6; }
.sch_sf2 {  background-color:#668800; }
.sch_sf3 {  background-color:#E67300; }
.sch_sf4 {  background-color:#8d8; }
.sch_sf5 {  background-color:#3B3EAC; }
.sch_sf6 {  background-color:#d2f91f; }
.sch_sf7 {  background-color:#FF9900; }
.sch_sf8 {  background-color:#0099C6; }
.sch_sf9 {  background-color:#DD4477; }
.sch_sf10 {  background-color:#88f; }
.sch_sf11 {  background-color:#997799; }
.sch_sf12 {  background-color:#22AA99; }
.sch_sf13 {  background-color:#AAAA11; }
.sch_sf14 {  background-color:#6633CC; }
.sch_sf15 {  background-color:#990099; }
.sch_scan {  background-color:#cccccc; }

/* ---------------------------------------------------- */
/* Log table */
/* ---------------------------------------------------- */
.log-table {
/*    border: none; */
    table-layout: fixed;
}

.log-table td {
    padding: 0rem;
    border: none;
}

.log-table td:nth-child(1) {
   text-align: right;
}
.log-table td:nth-child(2) {
   text-align: center;
}

/* ---------------------------------------------------- */
/* Settings dialog */
/* ---------------------------------------------------- */

.input-autogenerated {
    color: "grey";
}

.input-autogenerated-mesh {
    color: "grey";
}
